<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202366927193-dafqu012uq0mtsemgjchudd84pmj1ida.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202366927193-dafqu012uq0mtsemgjchudd84pmj1ida</string>
	<key>API_KEY</key>
	<string>AIzaSyDBvvdmRfI6A9OuXIfLWQ8aX_SfBLCyknU</string>
	<key>GCM_SENDER_ID</key>
	<string>202366927193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rehaozkirsehirli.WhatsAppClone</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-8c791</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-8c791.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202366927193:ios:6f1d753a5a152b507d4c48</string>
</dict>
</plist>